.container6{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.fruit-bg{
    background-image: url('C:\ReactJS\fruit-web\src\assets\banner-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   width: 90vw;
   height: 95vh;
   border-radius: 25px;
}

.Fresh-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-family: "Montserrat", serif;
    position: absolute;
    left: 550px;
    padding: 120px;
}

.freshmain1{
width: 350px;
    font-size: 40px;
    font-weight: bold;
    opacity: 0.9; 

}

.freshmain2{
    width: 540px;
    font-size: 20px;
    font-weight: 500

}

.freshmain3 button{
    width: 190px;
    padding: 15px;
    border-radius: 17px;
    border: 0px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: rgb(238, 12, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.bag-bb{
    font-size: 25px;
}

@media only screen and (max-width: 768px) {

    .fruit-bg{
        width: 100%;
    }

    .Fresh-content{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        left: auto;
        padding: 30px;
        margin-top: 190px;
    }

    .freshmain1{
       width: auto;
    }

    .freshmain2{
        width: auto;
        opacity: 1;
        font-weight: 550;
    }




}